    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>MOBI - GNU Licensed - 
          <a href="https://startbootstrap.com/template-overviews/sb-admin/">SB Admin</a>
          theme from <a href="https://startbootstrap.com/">Start Bootstrap</a>. Icons by <a href="https://fontawesome.com/">Font Awesome</a>.</small>
        </div>
      </div>
    </footer>