<nav class="navbar sticky-top navbar-dark flex-md-nowrap bg-dark p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
    <img src='img/logomobi-preto.png' style="width: 6.5rem;" class="ml-5">
  </a>
  <ul class="nav float-right list-inline">

    <li class="list-inline-item">
      <a class="nav-link text-white" href="#">About</a>
    </li>

    <li class="list-inline-item">
      <a class="nav-link text-white" href="#">Contact</a>
    </li> 
  </ul>

</nav>
