<meta charset="utf-8">
<title>MOBI</title>
<link rel="icon" href="img/favicon.ico">
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.js"></script>
<!-- Adding open Iconic icons css -->
<link href="css/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<!-- Adding bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Adding custom css -->
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
<!-- Adding jquery and bootstrap javascript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Adding ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Addding the custom js library -->
<script src="js/custom.js"></script>
<!-- Adding the socket io library -->
<script src="/socket.io/socket.io.js"></script>
<!-- Adding the math js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.20.1/math.js"></script>