<!DOCTYPE html>
<html lang="en">

<head>
  <% include header1.ejs %>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <% include navigation.ejs %>
  <div class="content-wrapper">
    <div class="container-fluid" id="main">
      
      
    </div>
    <% include footer.ejs %>  
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/template-sb-admin/jquery/jquery.min.js"></script>
    <script src="vendor/template-sb-admin/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/template-sb-admin/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/template-sb-admin/chart.js/Chart.min.js"></script>
    <script src="vendor/template-sb-admin/datatables/jquery.dataTables.js"></script>
    <script src="vendor/template-sb-admin/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="vendor/template-sb-admin/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="vendor/template-sb-admin/js/sb-admin-datatables.min.js"></script>
    <script src="vendor/template-sb-admin/js/sb-admin-charts.min.js"></script>
    <script src="js/custom.js"></script>
  </div>
</body>

</html>
